.DropdownSelectList .selectedItems {
    height: 10em;
    border: 1px solid gray;
    background-color: white;
    overflow: auto;
}

.DropdownSelectList .selectedItem {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    height: 2em;
    padding-left: 5px;
    border-bottom: 1px solid gray;
}

.DropdownSelectList .selectedItem button {
    margin: 5px 5px;
}

.DropdownSelectList .Dropdown {
    margin-top: 2px;
}
