.Header {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* #890815 */
    /* border-bottom: 0.5em solid;
    border-image-slice: 1;
    border-image-slice: linear-gradient(90deg, #fdd63d 33%, #39b24b 66%, #0248a5);
    border-image-slice: -moz-linear-gradient(left, #fdd63d 33%, #39b24b 66%, #0248a5); */
}

.Header .container {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
}

.Header .separator {
    background: linear-gradient(90deg, #fdd63d 20%, #39b24b 50%, #0248a5);
    height: 5px;
}

.Header .titles {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 2em;
    order: 1;
    flex-grow: 6;
}

.Header .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    order: 2;
    flex-grow: 1;
    /* background-color: blueviolet; */
}

.Header .logo {
    display: flex;
    gap: 1em;
    order: 3;
    flex-grow: 1;
    padding-left: 1em;
    /* background-color: aqua; */
}

.Header h1,
.Header h2 {
    margin: 0;
    white-space: nowrap;
    text-align: left;
}

.Header img {
    height: 5em;
}
