.SideBar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    border-right: 1px solid black;
    background-color: rgb(170, 201, 174);
    transition: width ease-out 0.3s;
}

.SideBar.collapsed {
    width: 1.5rem;
}

.SideBar #collapse-btn {
    width: fit-content;
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0.5em 0.5em;
    cursor: pointer;
    border: none;
    background: #2b6be2;
    color: white;
}

.SideBar div {
    height: fit-content;
    line-height: 2.5;
    text-align: right;
    white-space: nowrap;
    padding-right: 1em;
    border-top: 1px solid black;
    background-color: rgb(158, 226, 167);
    direction: rtl;
    cursor: pointer;
}

.SideBar .selected {
    background-color: #fdd63d;
}

.SideBar div:hover {
    background-color: rgb(142, 197, 149);
}

.SideBar a {
    text-decoration: none;
    color: black;
}
