.SideBar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    border-right: 1px solid black;
    background-color: rgb(128, 128, 128);
    transition: width ease-out 0.3s;
}

.SideBar.collapsed {
    width: 1.5rem;
}

.SideBar #collapse-btn {
    width: fit-content;
    min-width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.SideBar div {
    height: fit-content;
    line-height: 2.5;
    text-align: right;
    white-space: nowrap;
    padding-right: 1em;
    border-top: 1px solid black;
    background-color: aquamarine;
    direction: rtl;
    cursor: pointer;
}

.SideBar .selected {
    background-color: gold;
}

.SideBar div:hover {
    background-color: rgb(70, 172, 133);
}

.SideBar a {
    text-decoration: none;
    color: black;
}
