.FormPage {
    padding: 1em;
    background-color: #c0eec7;
}

.FormPage .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.FormPage .fields .errorMsg {
    color: red;
}

.FormPage .buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}