.App {
  display: grid;
  grid-template-rows: 140px auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "hd hd"
    "sb ms";
  width: 100%;
  height: 100%;
}

.header {
  grid-area: hd;
}

.SideBar {
  grid-area: sb;
}

.mainSection {
  grid-area: ms;
}
